matrix:
  include:
    - language: clojure
      jdk: oraclejdk12
      before_install: cd front
      script:
        - nvm use
        - npm i -g npm
        - npm ci
        - npx shadow-cljs release app
      deploy:
        provider: script
        skip_cleanup: true
        script: cd "$TRAVIS_BUILD_DIR"; bash travis/deploy.sh clojure
        on:
          branch: master

    - language: rust
      rust: nightly
      cache:
        directories:
        - $HOME/.cargo
        - $TRAVIS_BUILD_DIR/backend/target
      before_install: cd backend
      script: cargo build --release
      deploy:
        provider: script
        skip_cleanup: true
        script: cd "$TRAVIS_BUILD_DIR"; bash ./travis/deploy.sh rust
        on:
          branch: master

    - language: node_js
      node_js: 11
      cache:
        directories:
        - $TRAVIS_BUILD_DIR/front-elm/node_modules
      before_install: cd front-elm
      install: npm install
      script: npm run make
      deploy:
        provider: script
        skip_cleanup: true
        script: cd "$TRAVIS_BUILD_DIR"; bash travis/deploy.sh elm
        on:
          branch: master
