{:source-paths ["src/cljs"
                "src/cljc"
                "env/prod/cljs"
                "env/dev/cljs"]
 :dependencies [[org.clojure/spec.alpha "0.2.176"]
                [reagent "0.10.0"]
                [clj-commons/secretary "1.2.4"]
                [re-frame "0.10.7"]
                [day8.re-frame/http-fx "0.1.6"]
                [binaryage/devtools "0.9.10"]
                [cider/cider-nrepl "0.21.0"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/js/"
                :asset-path "/js"
                :devtools {:after-load front.core/run
                           :repl-init-ns front.dev
                           :repl-pprint true
                           :http-root "resources/public"
                           :http-port 8080}
                :dev {:modules {:app {:entries [front.dev]}}}
                :release {:modules {:app {:entries [front.prod]}}}}}}
